{% extends 'base.html' %}

{% block content %}
<ul class="upcoming_events_list">
{% for event in calendar %}
    <li>
        <div class="date">
            <div class="month">
                {{event.month}}
            </div>
            <div class="day">
                {{event.day}}
            </div>
        </div>
        <div class="details">
            <div class="artist">
                {{event.artist}}
                <button data-artist-name="{{event.artist}}"class="btn btn-default float-right js-toggle-artist">Following</button>
            </div>
            <div class="genre">
                {{event.genre}}
            </div>
            <button data-event-id="{{event.id}}"class="btn btn-default float-right js-toggle-attendance">Going?</button>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function(){
        $(".js-toggle-attendance").click(function(e) {
            var button = $(e.target);
            $.post("/events/attendances", {"csrfmiddlewaretoken": "{{ csrf_token }}",
            "event": button.attr("data-event-id")}).done(function(){
                button.removeClass("btn-default").addClass("btn-info").text("Going");
            })
            .fail(function() {
                alert("Something failed!")
            });
        });
    });
    $(document).ready(function(){
        $(".js-toggle-artist").click(function(e) {
            var button = $(e.target);
            $.post("/events/followings", {"csrfmiddlewaretoken": "{{ csrf_token }}",
            "followee": button.attr("data-artist-name")}).done(function(){
                button.removeClass("btn-default").addClass("btn-info").text("Unfollow");
            })
            .fail(function() {
                alert("Something failed!")
            });
        });
    });
</script>

{% endblock %}