{% extends 'base.html' %}
{% block content %}
<ul class="upcoming_events_list">
{% for event in calendar %}
<li>
    <div class="date">
        <div class="month">
            {{event.month}}
        </div>
        <div class="day">
            {{event.day}}
        </div>
    </div>
    <div class="details">
        <div class="artist">
            {{event.artist}}
        </div>
        <div class="genre">
            {{event.genre}}
        </div>
    </div>
</li>
{% endfor %}
</ul>
{% endblock %}