{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<article class="container">
	<div class="row">
		<div class="col-sm-8 mt-5">
                    <h5>Musly is a mini social network that makes it really easy for live music lovers</h5>
                    <h5>to track the live perfomances of their favorite artists. </h5>

                    <h5>Artists can sign up too.</h5>
                    <h5>They can add their own live perfomance info, when they have done it, they should</h5>
                    <h5>specify the date/time, location and genre of their perfomance.</h5>
		</div>
            <div class="col-sm-4">
                <div class="content-section">
                        <form method="POST">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4">Join Today</legend>
                                {{ form|crispy }}
                            </fieldset>
                            <div class="form-group">
                                <button class="btn btn-outline-info" type="submit">Sign Up</button>
                            </div>
                        </form>
                        <div class="border-top pt-3">
                            <small class="text-muted">
                                Already Have An Account? <a class="ml-2" href="{% url 'authentication:signin' %}">Sign In</a>
                            </small>
                        </div>
                    </div>   
            </div>
		</div>
	</div>
</article>
{% endblock %}